h1, h2, h3{
    font-family: 'Acme', sans-serif;
    color: white;
}

label{
    color: white;
}

.user_me{
    display: none;
}

.center_body {
    background-color: #17A589;
    text-align: center;
    margin-top: 10px;
}

.alert{
    margin: 10px;
    padding: 1px 5px;
    font-size: 12px;
    border: 0px;
    display: inline-block;
}